/* Header */
.html {
    height: 214px;
}

.body {
    height: 214px;
}

body {
    overflow: hidden;
    /* 禁止页面滚动 */
    margin: 0;
    /* 清除页面默认边距 */
}

iframe {
    width: 100%;
    height: calc(100vh - 214px);
    /* 计算iframe高度 */
    overflow-y: auto;
    /* iframe内部滚动 */
    border: none;
    /* 移除iframe边框 */
}

.header {
    background-color: #feebe2;
    width: 100%;
    padding: 7px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 改进布局 */
}

.header-content {
    display: flex;
    align-items: center;
    gap: 0px;
}

.logo-column {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.logo-img {
    aspect-ratio: 1.25;
    object-fit: contain;
    object-position: center;
    width: 250px;
    max-width: 100%;
    flex-grow: 1;
    max-height: 400px;
    margin: auto 0;
    /* 居中并限制最大高度 */
}

.navbar-nav {
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    /* 居中导航项 */
}

.navbar-nav .nav-item {
    margin-right: 10px;
    /* 根据需要调整 */
    font-weight: bold;
    font-size: 18px;
    /* 改变字体大小 */
    color: black;
    /* 导航字体颜色 */
}

.navbar-nav .nav-link:hover {
    color: #10bdfc;
}

.nav-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}

.nav-wrapper {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.nav-list {
    justify-content: end;
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: #000;
    font-weight: 900;
    padding: 0 40px;
}

.nav-item {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.search-bar {
    border-radius: 8px;
    border: 1px solid rgba(224, 224, 224, 1);
    background-color: #fff;
    display: flex;
    gap: 12px;
    font-size: 16px;
    color: #828282;
    font-weight: 400;
    white-space: nowrap;
    margin: 20px 0 0 0;
    padding: 8px 12px;
}

.search-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
}

.search-input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
}

/* Add CSS animations */
.nav-link {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}