html {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #ffece3 12.93%, #bb4f4d 150.44%, #a11414 150.46%);
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 100%;
}

.title {
    color: #a11414;
    text-align: center;
    letter-spacing: -1.92px;
    margin-top: 40px;
    font: italic 600 64px 'Inter', sans-serif;
}

h2 {
    color: #a11414;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

h3 {
    color: #a11414;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.container {
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    /* 添加透明度 */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
    backdrop-filter: blur(20px);
    /* 添加毛玻璃效果 */
}

.seccontainer {
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(255, 196, 141, 0.1);
    /* background-color: #f766ff 25%; */
    /* 添加透明度 */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
    backdrop-filter: blur(20px);
    /* 添加毛玻璃效果 */
}

.section {
    margin-bottom: 40px;
}

@media screen and (max-width: 536px) {
    .footer {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .header-item {
        max-width: 50% !important;
    }

    .title {
        font-size: 1.4rem;
    }
}


/* CSS */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

/* CSS */
@keyframes slideUpFast {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up-fast {
    animation: slideUpFast 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    /* 这是一个快速的动画效果 */
}

/* CSS */
@keyframes slideUpMedium {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up-medium {
    animation: slideUpMedium 1s cubic-bezier(0.4, 0.0, 0.2, 1);
    /* 这是一个中等速度的动画效果 */
}

@keyframes slideUpSlow {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up-slow {
    animation: slideUpSlow 1.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    /* 这是一个慢速的动画效果 */
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ec807e;
    /* 深蓝色背景 */
    color: #fff;
    /* 白色文字 */
    cursor: pointer;
    border-radius: 25px;
    z-index: 1000;
    box-shadow: none;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.image-wrap {
    float: right;
    margin-left: 20px;
    /* Adjust as needed */
    margin-bottom: 20px;
    /* Adjust as needed */
}

.image-wrap img {
    max-width: 300px;
    /* Adjust as needed */
    height: auto;
}

.float-right {
    float: right;
    margin-left: 20px;
}

p:hover {
    color: #ffd062;
    /* 高亮颜色，可以根据需要更改 */
    transition: color 0.3s ease-in-out;
    /* 过渡效果 */
}