<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>China Dream Works Studios</title>
    <link href="../styles/index/index.css" rel="stylesheet">
    <link href="../assets/bootstrap_src/bootstrap.min.css" rel="stylesheet">
    <script src="../assets/bootstrap_src/bootstrap.bundle.min.js"></script>
    <script src="../assets/bootstrap_src/jquery-3.6.0.min.js"></script>
    <script src="../assets/bootstrap_src/popper.min.js"></script>
    
   
</head>
<body>
    <footer class="footer">
        <div class="footer-links">
            <button class="footer-link" onclick="handleFooterLinkClick('about')">About US</button>
            <button class="footer-link" onclick="handleFooterLinkClick('email')">Email US</button>
            <button class="footer-link" onclick="handleFooterLinkClick('join')">Join US</button>
        </div>
        <div class="social-icons">
            <img class="social-icon" src="./componentsImg/social-Icon1.svg"
                alt="Social Icon 1" class="social-icon" onclick="handleSocialIconClick('social1')">
            <img class="social-icon" src="./componentsImg/social-Icon2.svg"
                alt="Social Icon 2" class="social-icon" onclick="handleSocialIconClick('social2')">
            <img class="social-icon" src="./componentsImg/social-Icon3.svg"
                alt="Social Icon 3" class="social-icon" onclick="handleSocialIconClick('social3')">
            <img class="social-icon" src="./componentsImg/social-Icon4.svg"
                alt="Social Icon 4" class="social-icon" onclick="handleSocialIconClick('social4')">
        </div>
    </footer>
</body>
</html>